Repository geoffwhittington/meshtastic-matrix-relay: changes, and which Codecov flags are due for each by the changed paths.
All: Plugins, Configuration, Core Utils, CLI & Main, Database, Setup & Tools

Fix import order issues from constants extraction
  docs/CONSTANTS.md
  src/mmrelay/config.py
  src/mmrelay/constants/__init__.py
  src/mmrelay/constants/messages.py
  src/mmrelay/constants/queue.py
  src/mmrelay/log_utils.py
  src/mmrelay/main.py
  src/mmrelay/matrix_utils.py
  src/mmrelay/meshtastic_utils.py
  src/mmrelay/message_queue.py
  src/mmrelay/plugins/base_plugin.py
  src/mmrelay/plugins/drop_plugin.py
  src/mmrelay/setup_utils.py
  tests/test_error_boundaries.py
  tests/test_main.py
  tests/test_message_queue_edge_cases.py
  tests/test_performance_stress.py
Due: Plugins, Configuration, Core Utils, CLI & Main, Setup & Tools

Complete constants extraction: fix remaining hardcoded strings and ignore bandit B101
  .bandit
  src/mmrelay/cli.py
  src/mmrelay/config_checker.py
Due: Configuration, CLI & Main

Trunk autofixes
  src/mmrelay/cli.py
  src/mmrelay/config_checker.py
Due: Configuration, CLI & Main

Extract configuration key constants: complete the constants extraction
  src/mmrelay/cli.py
  src/mmrelay/config_checker.py
  src/mmrelay/constants/network.py
  src/mmrelay/meshtastic_utils.py
Due: Configuration, Core Utils, CLI & Main

Add configuration constants and fix skipped plugin loader test
  src/mmrelay/constants/__init__.py
  src/mmrelay/constants/config.py
  src/mmrelay/plugin_loader.py
  tests/test_plugin_loader_edge_cases.py
Due: none

Use configuration constants and fix async test warnings
  src/mmrelay/cli.py
  src/mmrelay/config.py
  src/mmrelay/matrix_utils.py
  src/mmrelay/meshtastic_utils.py
  tests/test_meshtastic_utils.py
Due: Configuration, Core Utils, CLI & Main

Fix async test warnings in main.py tests
  tests/test_main.py
Due: none

Protect user configs in tests and fix async warnings
  tests/conftest.py
  tests/test_config.py
Due: none

Address all PR reviewer feedback
  .bandit
  docs/CONSTANTS.md
  src/mmrelay/cli.py
  src/mmrelay/config_checker.py
  src/mmrelay/constants/messages.py
  src/mmrelay/constants/network.py
  src/mmrelay/constants/queue.py
  src/mmrelay/meshtastic_utils.py
  src/mmrelay/plugins/drop_plugin.py
  tests/test_base_plugin.py
Due: Plugins, Configuration, Core Utils, CLI & Main

feat: enhance test suite with comprehensive coverage improvements
  pytest.ini
  tests/test_async_patterns.py
  tests/test_config.py
  tests/test_constants.py
  tests/test_integration_scenarios.py
  tests/test_network_reliability.py
  tests/test_performance_stress.py
Due: none

fix: resolve test failures in enhanced test suite
  tests/test_async_patterns.py
  tests/test_config.py
Due: none

fix: adjust performance test expectations and update documentation
  docs/CONSTANTS.md
  tests/test_performance_stress.py
Due: none

fix: adjust database performance test timeouts for CI environment
  tests/test_performance_stress.py
Due: none

fix: address CodeRabbit review feedback for test enhancements
  tests/test_async_patterns.py
  tests/test_constants.py
  tests/test_network_reliability.py
Due: none

fix: resolve async test warnings by properly mocking async functions
  tests/test_main.py
  tests/test_meshtastic_utils.py
  tests/test_performance_stress.py
Due: none

fix: eliminate major async test warnings (50% reduction)
  tests/test_integration_scenarios.py
  tests/test_main.py
  tests/test_meshtastic_utils.py
  tests/test_meshtastic_utils_edge_cases.py
Due: none

fix: final warning elimination and performance test adjustment
  tests/test_integration_scenarios.py
  tests/test_main.py
  tests/test_performance_stress.py
Due: none

fix: use AsyncMock for plugin handle_meshtastic_message methods
  tests/test_integration_scenarios.py
Due: none

fix: improve async function mocking to prevent coroutine warnings
  tests/test_integration_scenarios.py
  tests/test_main.py
Due: none

fix: add global async cleanup fixture to prevent test warnings
  tests/conftest.py
Due: none

fix: address Gemini code review feedback
  docs/CONSTANTS.md
  src/mmrelay/config_checker.py
Due: Configuration

Exclude tests directory from coverage reporting
  .coveragerc
  codecov.yml
Due: none

Fix test coverage by reducing aggressive mocking
  tests/conftest.py
Due: none

Add comprehensive tests for matrix_utils and meshtastic_utils
  .coveragerc
  tests/test_matrix_utils.py
  tests/test_meshtastic_utils.py
Due: none

Fix test issues identified in PR review
  tests/test_matrix_utils.py
  tests/test_meshtastic_utils.py
Due: none

Fix hanging tests in meshtastic_utils
  tests/conftest.py
  tests/test_meshtastic_utils.py
Due: none

Add BasePlugin helper methods for DM detection
  src/mmrelay/plugins/base_plugin.py
  tests/test_base_plugin.py
Due: Plugins

Address PR feedback: Add caching and simplify logic
  src/mmrelay/plugins/base_plugin.py
  tests/test_base_plugin.py
Due: Plugins

Add comprehensive test coverage for edge cases
  tests/test_base_plugin.py
Due: none

Add BasePlugin helper methods for DM detection (#232)
  src/mmrelay/plugins/base_plugin.py
  tests/test_base_plugin.py
Due: Plugins

Fix conftest.py: Remove mock exceptions from builtins namespace
  tests/conftest.py
Due: none

Fix codecov.yml: Move ignore directive to correct location
  codecov.yml
Due: none

Fix codecov.yml: Correct ignore directive to top-level
  codecov.yml
Due: none

Fix test coverage and mocking (#231)
  .coveragerc
  codecov.yml
  tests/conftest.py
  tests/test_matrix_utils.py
  tests/test_meshtastic_utils.py
Due: none

Fix coverage configuration: restore tests/* exclusion pattern
  .coveragerc
Due: none

Exclude performance tests from CI coverage reporting
  .github/workflows/test-and-coverage.yml
Due: none

Add explicit comment about performance test exclusion in CI
  .github/workflows/test-and-coverage.yml
Due: none

Use recursive pattern for test exclusion per Gemini feedback
  .coveragerc
Due: none

Path conditions:
  Plugins: any of: src/mmrelay/plugins/**
  Configuration: any of: src/mmrelay/config_checker.py, src/mmrelay/config.py
  Core Utils: any of: src/mmrelay/meshtastic_utils.py, src/mmrelay/matrix_utils.py
  CLI & Main: any of: src/mmrelay/main.py, src/mmrelay/cli.py
  Database: any of: src/mmrelay/db_utils.py
  Setup & Tools: any of: src/mmrelay/setup_utils.py, src/mmrelay/tools/**
