Repository geoffwhittington/meshtastic-matrix-relay: changes, and which Codecov flags are due for each by the changed paths.
All: Plugins, Configuration, Core Utils, CLI & Main, Tests

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 55%
        threshold: 1%
    patch:
      default:
        target: 80%

component_management:
  individual_components:
    - component_id: plugins
      name: Plugins
      paths:
        - src/mmrelay/plugins/**
    - component_id: configuration
      name: Configuration
      paths:
        - src/mmrelay/config_checker.py
    - component_id: core_utils
      name: Core Utils
      paths:
        - src/mmrelay/meshtastic_utils.py
        - src/mmrelay/matrix_utils.py
    - component_id: cli_main
      name: CLI & Main
      paths:
        - src/mmrelay/main.py
        - src/mmrelay/cli.py
    - component_id: tests
      name: Tests
      paths:
        - tests/**

comment:
  layout: reach,diff,flags,tree
  behavior: default
  require_changes: false

Fix plugin failure isolation and database error handling
  src/mmrelay/meshtastic_utils.py
  tests/test_db_utils_edge_cases.py
  tests/test_error_boundaries.py
Due: Core Utils, Tests

Fix database, SSL, CLI, and integration test failures
  src/mmrelay/cli.py
  src/mmrelay/db_utils.py
  src/mmrelay/matrix_utils.py
  tests/test_db_utils_edge_cases.py
  tests/test_integration_scenarios.py
Due: Core Utils, CLI & Main, Tests

Update setup_utils.py
  src/mmrelay/setup_utils.py
Due: none

Fix error boundary tests and pytest configuration
  pytest.ini
  tests/test_error_boundaries.py
Due: Tests

Fix integration and plugin loader tests
  tests/test_integration_scenarios.py
  tests/test_plugin_loader_edge_cases.py
Due: Tests

Fix service lifecycle and additional integration tests
  tests/test_integration_scenarios.py
Due: Tests

Fix performance tests and pytest configuration
  pytest.ini
  tests/conftest.py
Due: Tests

Fix SSL context creation and improve exception mocking
  tests/conftest.py
  tests/test_integration_scenarios.py
Due: Tests

Fix setup utils variable naming conflict and test mocking
  src/mmrelay/setup_utils.py
  tests/test_setup_utils_edge_cases.py
Due: Tests

Fix plugin loader priority conflict test configuration
  tests/test_plugin_loader_edge_cases.py
Due: Tests

Fix error boundary tests with proper MessageQueue mocking
  tests/conftest.py
  tests/test_error_boundaries.py
  tests/test_integration_scenarios.py
Due: Tests

Fix integration scenario multi-room message routing test
  tests/test_integration_scenarios.py
Due: Tests

Fix Meshtastic connection tests and plugin loader edge cases
  tests/test_integration_scenarios.py
  tests/test_meshtastic_utils.py
  tests/test_plugin_loader_edge_cases.py
Due: Tests

FINAL SUCCESS: Complete test coverage expansion with 100% test pass rate
  tests/test_plugin_loader_edge_cases.py
Due: Tests

Fix critical database migration issue identified by Gemini review
  src/mmrelay/db_utils.py
Due: none

Fixes
  .gitignore
  codecov.yml
  src/mmrelay/cli.py
  src/mmrelay/db_utils.py
  tests/test_meshtastic_utils.py
Due: CLI & Main, Tests

Trunk fixes
  src/mmrelay/cli.py
  src/mmrelay/config.py
  src/mmrelay/db_utils.py
  src/mmrelay/matrix_utils.py
  src/mmrelay/meshtastic_utils.py
  src/mmrelay/plugin_loader.py
  src/mmrelay/setup_utils.py
  tests/conftest.py
  tests/test_cli_edge_cases.py
  tests/test_config_edge_cases.py
  tests/test_db_utils_edge_cases.py
  tests/test_debug_plugin.py
  tests/test_error_boundaries.py
  tests/test_integration_scenarios.py
  tests/test_matrix_utils_edge_cases.py
  tests/test_meshtastic_utils.py
  tests/test_meshtastic_utils_edge_cases.py
  tests/test_message_queue_edge_cases.py
  tests/test_performance_stress.py
  tests/test_plugin_loader_edge_cases.py
  tests/test_setup_utils_edge_cases.py
Due: Core Utils, CLI & Main, Tests

Fix missing get_config_paths import in cli.py
  src/mmrelay/cli.py
Due: CLI & Main

Remove redundant makedirs call in generate_sample_config
  src/mmrelay/cli.py
Due: CLI & Main

Fix async mock warnings in test_main.py
  tests/test_main.py
Due: Tests

Fix AsyncMock warnings for matrix_relay function
  tests/test_error_boundaries.py
Due: Tests

Fix final async mock warning in test_main_no_meshtastic_client_warning
  tests/test_main.py
Due: Tests

Improve codecov.yml configuration with better component management
  codecov.yml
Due: none

Fix remaining async coroutine warnings in test_main.py
  tests/test_main.py
Due: Tests

Lower codecov targets and fix remaining async test issues
  codecov.yml
  tests/test_main.py
Due: Tests

Fix remaining test warnings and ResourceWarnings
  tests/test_main.py
  tests/test_message_queue_edge_cases.py
  tests/test_performance_stress.py
Due: Tests

Fix final async mock warnings and ResourceWarnings
  tests/test_main.py
  tests/test_message_queue.py
Due: Tests

Fix all remaining test warnings
  tests/test_main.py
  tests/test_message_queue_edge_cases.py
Due: Tests

Suppress remaining test warnings with pytest filterwarnings
  pytest.ini
Due: none

Address Gemini code review comments
  .gitignore
  pytest.ini
  src/mmrelay/meshtastic_utils.py
  src/mmrelay/plugin_loader.py
Due: Core Utils

Expand test coverage (#225)
  .gitignore
  codecov.yml
  pytest.ini
  requirements.txt
  src/mmrelay/cli.py
  src/mmrelay/config.py
  src/mmrelay/db_utils.py
  src/mmrelay/matrix_utils.py
  src/mmrelay/meshtastic_utils.py
  src/mmrelay/message_queue.py
  src/mmrelay/plugin_loader.py
  src/mmrelay/setup_utils.py
  tests/conftest.py
  tests/test_cli_edge_cases.py
  tests/test_config_edge_cases.py
  tests/test_db_utils_edge_cases.py
  tests/test_debug_plugin.py
  tests/test_error_boundaries.py
  tests/test_integration_scenarios.py
  tests/test_main.py
  tests/test_matrix_utils_edge_cases.py
  tests/test_meshtastic_utils.py
  tests/test_meshtastic_utils_edge_cases.py
  tests/test_message_queue.py
  tests/test_message_queue_edge_cases.py
  tests/test_performance_stress.py
  tests/test_plugin_loader_edge_cases.py
  tests/test_setup_utils_edge_cases.py
Due: Core Utils, CLI & Main, Tests

Remove announcement and fix broken links
  docs/ANNOUNCEMENT.md
  docs/UPGRADE_TO_V1.md
Due: none

Remove obsolete announcement reference
  docs/UPGRADE_TO_V1.md
Due: none

Remove obsolete upgrade documentation
  docs/UPGRADE_TO_V1.md
Due: none

Remove all remaining announcement references
  src/mmrelay/cli.py
Due: CLI & Main

Add missing patch status to Setup & Tools component
  codecov.yml
Due: none

Remove old upgrade guidance references (#227)
  docs/ANNOUNCEMENT.md
  docs/UPGRADE_TO_V1.md
  src/mmrelay/cli.py
Due: CLI & Main

Apply codecov component fixes
  codecov.yml
Due: none

Extract constants to organized package structure
  src/mmrelay/cli.py
  src/mmrelay/config.py
  src/mmrelay/constants/__init__.py
  src/mmrelay/constants/app.py
  src/mmrelay/constants/database.py
  src/mmrelay/constants/formats.py
  src/mmrelay/constants/messages.py
  src/mmrelay/constants/network.py
  src/mmrelay/constants/queue.py
  src/mmrelay/log_utils.py
  src/mmrelay/main.py
  src/mmrelay/matrix_utils.py
  src/mmrelay/meshtastic_utils.py
  src/mmrelay/message_queue.py
  src/mmrelay/plugins/base_plugin.py
  src/mmrelay/plugins/drop_plugin.py
  src/mmrelay/plugins/weather_plugin.py
  tests/test_message_queue.py
  tests/test_message_queue_edge_cases.py
Due: Plugins, Core Utils, CLI & Main, Tests

Complete constants extraction: eliminate all magic numbers and hardcoded strings
  docs/CONSTANTS.md
  src/mmrelay/constants/database.py
  src/mmrelay/constants/messages.py
  src/mmrelay/constants/network.py
  src/mmrelay/log_utils.py
  src/mmrelay/matrix_utils.py
  src/mmrelay/meshtastic_utils.py
  src/mmrelay/message_queue.py
  src/mmrelay/plugins/base_plugin.py
  src/mmrelay/plugins/drop_plugin.py
  src/mmrelay/plugins/mesh_relay_plugin.py
  src/mmrelay/setup_utils.py
Due: Plugins, Core Utils
