Repository geoffwhittington/meshtastic-matrix-relay: changes, and which Codecov flags are due for each by the changed paths.
All: Plugins, Configuration, Core Utils, CLI & Main, Database, Setup & Tools

ZERO WARNINGS ACHIEVED: Complete AsyncMock cleanup solution
  tests/conftest.py
Due: none

FINAL FIX: Zero AsyncMock warnings achieved
  tests/conftest.py
  tests/test_integration_scenarios.py
  tests/test_meshtastic_utils.py
Due: none

Fix codecov.yml component paths
  codecov.yml
  src/mmrelay/matrix_utils.py
  src/mmrelay/meshtastic_utils.py
  src/mmrelay/plugin_loader.py
  tests/conftest.py
  tests/test_config.py
  tests/test_config_edge_cases.py
  tests/test_error_boundaries.py
  tests/test_integration_scenarios.py
  tests/test_main.py
  tests/test_map_plugin.py
  tests/test_matrix_utils.py
  tests/test_matrix_utils_edge_cases.py
  tests/test_mesh_relay_plugin.py
  tests/test_meshtastic_utils.py
  tests/test_meshtastic_utils_edge_cases.py
  tests/test_performance_stress.py
  tests/test_plugin_loader.py
  tests/test_plugin_loader_edge_cases.py
Due: Core Utils

Fix Coverage Components and Test Warnings (#243)
  .github/workflows/package-windows.yml
  .github/workflows/test-and-coverage.yml
  .gitignore
  .trunk/trunk.yaml
  codecov.yml
  src/mmrelay/__init__.py
  src/mmrelay/matrix_utils.py
  src/mmrelay/meshtastic_utils.py
  src/mmrelay/plugin_loader.py
  tests/conftest.py
  tests/test_config.py
  tests/test_config_edge_cases.py
  tests/test_error_boundaries.py
  tests/test_integration_scenarios.py
  tests/test_main.py
  tests/test_map_plugin.py
  tests/test_matrix_utils.py
  tests/test_matrix_utils_edge_cases.py
  tests/test_mesh_relay_plugin.py
  tests/test_meshtastic_utils.py
  tests/test_meshtastic_utils_edge_cases.py
  tests/test_performance_stress.py
  tests/test_plugin_loader.py
  tests/test_plugin_loader_edge_cases.py
Due: Core Utils

Sync dependencies and fix setup.py
  setup.py
Due: none

Fix codecov coverage reporting configuration
  .github/workflows/test-and-coverage.yml
  codecov.yml
Due: none

Fix codecov component detection with relative_files setting
  .coveragerc
  codecov.yml
  setup.py
Due: none

Restore codecov configuration to match working commit
  .github/workflows/test-and-coverage.yml
  codecov.yml
Due: none

Fix CI import error by adding pip install -e .
  .github/workflows/test-and-coverage.yml
Due: none

Remove patch coverage tracking from codecov.yml
  codecov.yml
Due: none

Sync dependencies and fixes (#249)
  .coveragerc
Due: none

Add E2EE configuration support
  E2EE_IMPLEMENTATION_NOTES.md
  requirements-e2e.txt
  setup.py
  src/mmrelay/config.py
  src/mmrelay/tools/sample_config.yaml
Due: Configuration, Setup & Tools

Implement E2EE client initialization and message handling
  src/mmrelay/matrix_utils.py
Due: Core Utils

Add E2EE message callback registration
  src/mmrelay/main.py
Due: CLI & Main

Add comprehensive E2EE tests
  E2EE_IMPLEMENTATION_NOTES.md
  tests/test_matrix_utils.py
Due: none

Implement comprehensive E2EE initialization matching original implementation
  E2EE_IMPLEMENTATION_NOTES.md
  src/mmrelay/matrix_utils.py
Due: Core Utils

Fix E2EE tests to work with comprehensive implementation
  tests/test_matrix_utils.py
Due: none

Add E2EE credential creation functionality
  E2EE_IMPLEMENTATION_NOTES.md
  src/mmrelay/cli.py
  src/mmrelay/matrix_utils.py
Due: Core Utils, CLI & Main

Add comprehensive E2EE setup documentation
  E2EE_IMPLEMENTATION_NOTES.md
  src/mmrelay/tools/sample_config.yaml
Due: Setup & Tools

Fix E2EE test failures
  src/mmrelay/matrix_utils.py
  tests/test_cli.py
  tests/test_matrix_utils.py
Due: Core Utils

Fix remaining E2EE test failures
  tests/test_matrix_utils.py
Due: none

Improve E2EE session management with restore_login
  src/mmrelay/matrix_utils.py
Due: Core Utils

Rename --bot_login to --login for better CLI consistency
  src/mmrelay/cli.py
  src/mmrelay/tools/sample_config.yaml
  tests/test_cli.py
Due: CLI & Main, Setup & Tools

Rename --login to --auth for optimal CLI design
  src/mmrelay/cli.py
  src/mmrelay/tools/sample_config.yaml
  tests/test_cli.py
Due: CLI & Main, Setup & Tools

Fix E2EE test failure and async patterns test warning
  tests/test_async_patterns.py
  tests/test_matrix_utils.py
Due: none

Fix all trunk check issues and code quality problems
  E2EE_IMPLEMENTATION_NOTES.md
  src/mmrelay/config.py
  src/mmrelay/matrix_utils.py
  tests/test_async_patterns.py
  tests/test_matrix_utils.py
Due: Configuration, Core Utils

Clean up device name for better user experience
  src/mmrelay/matrix_utils.py
Due: Core Utils

Extract magic numbers and hardcoded strings to constants
  src/mmrelay/constants/app.py
  src/mmrelay/constants/messages.py
  src/mmrelay/constants/network.py
  src/mmrelay/matrix_utils.py
  tests/constants.py
  tests/test_matrix_utils.py
Due: Core Utils

Apply trunk formatting fixes
  src/mmrelay/matrix_utils.py
  tests/constants.py
Due: Core Utils

Fix E2EE login timeouts and add comprehensive troubleshooting
  E2EE_TROUBLESHOOTING.md
  src/mmrelay/constants/network.py
  src/mmrelay/matrix_utils.py
  test_e2ee_verification.py
  test_login.py
Due: Core Utils

Remove temp files
  E2EE_TROUBLESHOOTING.md
  test_e2ee_verification.py
  test_login.py
Due: none

Fix E2EE login to match original working implementation
  src/mmrelay/matrix_utils.py
Due: Core Utils

Fix AsyncClient initialization per matrix-nio spec
  src/mmrelay/matrix_utils.py
Due: Core Utils

Final E2EE implementation based on comprehensive matrix-nio analysis
  src/mmrelay/matrix_utils.py
Due: Core Utils

Complete comprehensive E2EE examples analysis
  E2EE_IMPLEMENTATION_NOTES.md
Due: none

Fix Matrix server discovery for proper homeserver URL resolution
  src/mmrelay/matrix_utils.py
Due: Core Utils

Add comprehensive Matrix server debugging and prove tchncs.de server issue
  src/mmrelay/matrix_utils.py
  test_tchncs_connection.py
Due: Core Utils

Fix Device id is not set error - E2EE now working
  src/mmrelay/cli.py
  src/mmrelay/config.py
  src/mmrelay/main.py
  src/mmrelay/matrix_utils.py
  src/mmrelay/plugins/base_plugin.py
Due: Plugins, Configuration, Core Utils, CLI & Main

Fix device_id not set error by setting client.device_id before restore_login
  src/mmrelay/matrix_utils.py
Due: Core Utils

Add debugging for device_id issue - identify root cause
  src/mmrelay/matrix_utils.py
Due: Core Utils

Path conditions:
  Plugins: any of: src/mmrelay/plugins/**
  Configuration: any of: src/mmrelay/config_checker.py, src/mmrelay/config.py
  Core Utils: any of: src/mmrelay/meshtastic_utils.py, src/mmrelay/matrix_utils.py
  CLI & Main: any of: src/mmrelay/main.py, src/mmrelay/cli.py
  Database: any of: src/mmrelay/db_utils.py
  Setup & Tools: any of: src/mmrelay/setup_utils.py, src/mmrelay/tools/**
