Repository geoffwhittington/meshtastic-matrix-relay: changes, and which Codecov flags are due for each by the changed paths.
All: Plugins, Configuration, Core Utils, CLI & Main, Tests

Fix Gemini code review issues
  tests/test_health_plugin.py
  tests/test_main.py
Due: Tests

Trunk autofixes
  .trunk/trunk.yaml
  src/mmrelay/cli.py
  src/mmrelay/log_utils.py
  src/mmrelay/meshtastic_utils.py
  src/mmrelay/plugin_loader.py
  tests/test_base_plugin.py
  tests/test_cli.py
  tests/test_config.py
  tests/test_config_checker.py
  tests/test_db_utils.py
  tests/test_drop_plugin.py
  tests/test_help_plugin.py
  tests/test_log_utils.py
  tests/test_map_plugin.py
  tests/test_matrix_utils.py
  tests/test_mesh_relay_plugin.py
  tests/test_nodes_plugin.py
  tests/test_ping_plugin.py
  tests/test_plugin_loader.py
  tests/test_setup_utils.py
  tests/test_telemetry_plugin.py
  tests/test_weather_plugin.py
Due: Core Utils, CLI & Main, Tests

Update codecov.yml target
  codecov.yml
Due: none

Fix codecov config and lint issues (#224)
  .trunk/trunk.yaml
  codecov.yml
  src/mmrelay/cli.py
  src/mmrelay/log_utils.py
  src/mmrelay/meshtastic_utils.py
  src/mmrelay/plugin_loader.py
  tests/test_base_plugin.py
  tests/test_cli.py
  tests/test_config.py
  tests/test_config_checker.py
  tests/test_db_utils.py
  tests/test_drop_plugin.py
  tests/test_health_plugin.py
  tests/test_help_plugin.py
  tests/test_log_utils.py
  tests/test_main.py
  tests/test_map_plugin.py
  tests/test_matrix_utils.py
  tests/test_mesh_relay_plugin.py
  tests/test_meshtastic_utils.py
  tests/test_nodes_plugin.py
  tests/test_ping_plugin.py
  tests/test_plugin_loader.py
  tests/test_setup_utils.py
  tests/test_telemetry_plugin.py
  tests/test_weather_plugin.py
Due: Core Utils, CLI & Main, Tests

Add comprehensive tests for debug plugin
  tests/test_debug_plugin.py
Due: Tests

Add edge case tests for matrix_utils error handling
  tests/test_matrix_utils_edge_cases.py
Due: Tests

Add edge case tests for message queue error handling
  tests/test_message_queue_edge_cases.py
Due: Tests

Add edge case tests for config module error handling
  tests/test_config_edge_cases.py
Due: Tests

Fix import error in config edge case tests
  tests/test_config_edge_cases.py
Due: Tests

Fix failing edge case tests
  tests/test_config_edge_cases.py
  tests/test_matrix_utils_edge_cases.py
  tests/test_message_queue_edge_cases.py
Due: Tests

Add comprehensive edge case tests for CLI, setup utils, and database utilities
  tests/test_cli_edge_cases.py
  tests/test_db_utils_edge_cases.py
  tests/test_setup_utils_edge_cases.py
Due: Tests

Add comprehensive edge case tests for plugin loader, meshtastic utils, and integration scenarios
  tests/test_integration_scenarios.py
  tests/test_meshtastic_utils_edge_cases.py
  tests/test_plugin_loader_edge_cases.py
Due: Tests

Add comprehensive performance/stress tests and error boundary tests
  tests/test_error_boundaries.py
  tests/test_performance_stress.py
Due: Tests

Fix lint issues in test files
  tests/test_error_boundaries.py
  tests/test_matrix_utils_edge_cases.py
  tests/test_message_queue_edge_cases.py
  tests/test_performance_stress.py
Due: Tests

Fix remaining lint issues: syntax errors, unused variables, and temp file security
  tests/test_cli_edge_cases.py
  tests/test_config_edge_cases.py
  tests/test_db_utils_edge_cases.py
  tests/test_debug_plugin.py
  tests/test_error_boundaries.py
  tests/test_integration_scenarios.py
  tests/test_meshtastic_utils_edge_cases.py
  tests/test_performance_stress.py
  tests/test_plugin_loader_edge_cases.py
  tests/test_setup_utils_edge_cases.py
Due: Tests

Add test coverage completion marker
  README_TEST_COVERAGE.md
Due: none

Update .gitignore
  .gitignore
Due: none

Fix import errors in setup_utils edge case tests
  tests/test_setup_utils_edge_cases.py
Due: Tests

Add venv to gitignore
  .gitignore
Due: none

Fix CLI import issues, add psutil dependency, and fix several test assertions
  requirements.txt
  src/mmrelay/cli.py
  tests/test_cli_edge_cases.py
  tests/test_plugin_loader_edge_cases.py
  tests/test_setup_utils_edge_cases.py
Due: CLI & Main, Tests

Fix plugin loader and setup utils test patches and assertions
  tests/test_plugin_loader_edge_cases.py
  tests/test_setup_utils_edge_cases.py
Due: Tests

Fix BaseException handling in plugin loader and correct function signatures in db_utils tests
  src/mmrelay/plugin_loader.py
  tests/test_db_utils_edge_cases.py
Due: Tests

Fix reload_daemon reference in integration tests
  tests/test_integration_scenarios.py
Due: Tests

Fix multiple test issues: meshtastic patches, sendTextReply error handling, db_utils error handling, and performance test event loop setup
  src/mmrelay/db_utils.py
  src/mmrelay/meshtastic_utils.py
  src/mmrelay/plugin_loader.py
  tests/test_db_utils_edge_cases.py
  tests/test_meshtastic_utils_edge_cases.py
  tests/test_performance_stress.py
Due: Core Utils, Tests

Fix plugin loader tests, meshtastic connection error tests, and improve test infrastructure
  src/mmrelay/plugin_loader.py
  tests/test_db_utils_edge_cases.py
  tests/test_meshtastic_utils_edge_cases.py
  tests/test_performance_stress.py
  tests/test_plugin_loader_edge_cases.py
Due: Tests

Fix database error handling, meshtastic malformed packet handling, CLI missing sample file test, and sys.path mocking
  src/mmrelay/db_utils.py
  src/mmrelay/meshtastic_utils.py
  tests/test_cli_edge_cases.py
  tests/test_db_utils_edge_cases.py
  tests/test_meshtastic_utils_edge_cases.py
  tests/test_plugin_loader_edge_cases.py
Due: Core Utils, Tests

Fix plugin loader tests, performance tests, and integration tests
  tests/test_db_utils_edge_cases.py
  tests/test_performance_stress.py
  tests/test_plugin_loader_edge_cases.py
Due: Tests

Fix CLI copy failure handling and setup utils error logging
  src/mmrelay/cli.py
  src/mmrelay/setup_utils.py
  tests/test_performance_stress.py
Due: CLI & Main, Tests

Fix MessageQueue performance tests and increase queue size
  src/mmrelay/message_queue.py
  tests/test_performance_stress.py
Due: Tests

Fix rate limiting effectiveness test
  tests/test_performance_stress.py
Due: Tests

Fix hanging plugin processing performance test
  tests/test_performance_stress.py
Due: Tests

Fix test isolation issues with comprehensive global state resets
  tests/test_error_boundaries.py
  tests/test_integration_scenarios.py
  tests/test_meshtastic_utils_edge_cases.py
  tests/test_message_queue_edge_cases.py
  tests/test_performance_stress.py
Due: Tests

Fix config validation and concurrent access issues in connect_meshtastic
  src/mmrelay/meshtastic_utils.py
Due: Core Utils

Add comprehensive test configuration and fixtures
  tests/conftest.py
Due: Tests

Fix database error handling and MagicMock comparison issues
  src/mmrelay/db_utils.py
  tests/conftest.py
  tests/test_error_boundaries.py
Due: Tests

Fix multiple test failures - database, config, CLI, and message queue
  src/mmrelay/cli.py
  src/mmrelay/config.py
  tests/test_integration_scenarios.py
  tests/test_message_queue_edge_cases.py
Due: CLI & Main, Tests

Fix additional test failures - plugin loader, setup utils, and test infrastructure
  src/mmrelay/setup_utils.py
  tests/test_plugin_loader_edge_cases.py
  tests/test_setup_utils_edge_cases.py
Due: Tests

Enhance codecov components configuration
  codecov.yml
Due: none

Address Gemini code review feedback
  .gitignore
  README_TEST_COVERAGE.md
  src/mmrelay/db_utils.py
  src/mmrelay/plugin_loader.py
  tests/test_performance_stress.py
Due: Tests

Fix critical integration and error boundary test failures
  tests/test_error_boundaries.py
  tests/test_integration_scenarios.py
Due: Tests

Path conditions:
  Plugins: any of: src/mmrelay/plugins/**
  Configuration: any of: src/mmrelay/config_checker.py
  Core Utils: any of: src/mmrelay/meshtastic_utils.py, src/mmrelay/matrix_utils.py
  CLI & Main: any of: src/mmrelay/main.py, src/mmrelay/cli.py
  Tests: any of: tests/**
