Repository geoffwhittington/meshtastic-matrix-relay: changes, and which Codecov flags are due for each by the changed paths.
All: Plugins, Configuration, Core Utils, CLI & Main, Database, Setup & Tools

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 40%
        threshold: 2%
    patch:
      default:
        target: 40%
        threshold: 2%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 2%
      - type: patch
        target: 40%
        threshold: 2%
  individual_components:
    - component_id: plugins
      name: Plugins
      paths:
        - src/mmrelay/plugins/**
      statuses:
        - type: project
          target: 50%
          threshold: 3%
        - type: patch
          target: 50%
          threshold: 3%
    - component_id: configuration
      name: Configuration
      paths:
        - src/mmrelay/config_checker.py
        - src/mmrelay/config.py
      statuses:
        - type: project
          target: 70%
          threshold: 2%
        - type: patch
          target: 60%
          threshold: 2%
    - component_id: core_utils
      name: Core Utils
      paths:
        - src/mmrelay/meshtastic_utils.py
        - src/mmrelay/matrix_utils.py
      statuses:
        - type: project
          target: 40%
          threshold: 3%
        - type: patch
          target: 40%
          threshold: 3%
    - component_id: cli_main
      name: CLI & Main
      paths:
        - src/mmrelay/main.py
        - src/mmrelay/cli.py
      statuses:
        - type: project
          target: 60%
          threshold: 3%
        - type: patch
          target: 50%
          threshold: 3%
    - component_id: database
      name: Database
      paths:
        - src/mmrelay/db_utils.py
      statuses:
        - type: project
          target: 70%
          threshold: 2%
        - type: patch
          target: 60%
          threshold: 2%
    - component_id: setup_tools
      name: Setup & Tools
      paths:
        - src/mmrelay/setup_utils.py
        - src/mmrelay/tools/**
      statuses:
        - type: project
          target: 30%
          threshold: 3%
        - type: patch
          target: 30%
          threshold: 3%

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false

Fix remaining trunk check issues
  docs/DOCKER.md
  tests/test_main.py
  tests/test_message_queue_edge_cases.py
  tests/test_performance_stress.py
Due: none

Add descriptive ignore for GitHub workflow security policy
  .github/workflows/build-armv7-builder-image.yml
  src/mmrelay/constants/config.py
  tests/test_performance_stress.py
Due: none

Fix Windows directory creation in tests
  tests/test_config_edge_cases.py
Due: none

Adjust performance test thresholds for test environment
  tests/test_performance_stress.py
Due: none

Add prebuilt Docker image option while preserving build-from-source
  .bandit
  .github/workflows/build-armv7-builder-image.yml
  Makefile
  README.md
  codecov.yml
  docs/DOCKER.md
  docs/EXTRA_CONFIGURATION.md
  src/mmrelay/constants/config.py
  src/mmrelay/tools/sample-docker-compose-prebuilt.yaml
  tests/test_config_edge_cases.py
  tests/test_integration_scenarios.py
  tests/test_main.py
  tests/test_message_queue_edge_cases.py
  tests/test_performance_stress.py
  tests/test_plugin_loader.py
  tests/test_plugin_loader_edge_cases.py
  tests/test_setup_utils.py
  tests/test_setup_utils_edge_cases.py
Due: Setup & Tools

Add Matrix native HTML formatting support
  src/mmrelay/matrix_utils.py
Due: Core Utils

Fix HTML tag regex to properly match closing tags
  src/mmrelay/matrix_utils.py
Due: Core Utils

Add test for HTML formatting functionality
  tests/test_matrix_utils.py
Due: none

Add markdown processing to matrix_relay function
  src/mmrelay/matrix_utils.py
  tests/test_matrix_utils.py
Due: Core Utils

Add Matrix native HTML formatting support (#239)
  src/mmrelay/matrix_utils.py
  tests/test_matrix_utils.py
Due: Core Utils

Fix plugin loading permission errors in Docker environments
  PLUGIN_FIX_FOR_PANBOCZEK.md
  src/mmrelay/plugin_loader.py
Due: none

Trunk changes
  src/mmrelay/matrix_utils.py
  tests/test_config_edge_cases.py
Due: Core Utils

Fix final Docker permission error in plugin cloning
  src/mmrelay/plugin_loader.py
Due: none

Fix plugin loading permission errors in Docker environments
  PLUGIN_FIX_FOR_PANBOCZEK.md
Due: none

Fix Docker volume mapping for complete plugin directory structure
  src/mmrelay/tools/sample-docker-compose-prebuilt.yaml
  src/mmrelay/tools/sample-docker-compose.yaml
Due: Setup & Tools

Address code review feedback from Gemini Code Assist
  src/mmrelay/plugin_loader.py
Due: none

Update test_plugin_loader.py
  tests/test_plugin_loader.py
Due: none

Fix coverage configuration for proper component registration
  .coveragerc
  codecov.yml
Due: none

Remove problematic tests/**/* exclusion from .coveragerc
  .coveragerc
Due: none

Fix duplicate test method name in test_main.py
  tests/test_main.py
Due: none

Apply CodeRabbit docstring improvements and formatting fixes
  src/mmrelay/matrix_utils.py
  src/mmrelay/plugin_loader.py
  tests/test_config_edge_cases.py
  tests/test_main.py
  tests/test_plugin_loader.py
Due: Core Utils

Plugin System Docker Fixes (#241)
  codecov.yml
  src/mmrelay/matrix_utils.py
  src/mmrelay/plugin_loader.py
  src/mmrelay/tools/sample-docker-compose-prebuilt.yaml
  src/mmrelay/tools/sample-docker-compose.yaml
  tests/test_config_edge_cases.py
  tests/test_main.py
  tests/test_plugin_loader.py
Due: Core Utils, Setup & Tools

Fix coverage component detection by making markdown import lazy
  src/mmrelay/matrix_utils.py
Due: Core Utils

Add test for markdown functionality and improve error handling
  tests/test_matrix_utils.py
Due: none

Apply trunk formatting fixes
  src/mmrelay/matrix_utils.py
  tests/test_matrix_utils.py
Due: Core Utils

Fix codecov component paths to match coverage.xml format
  codecov.yml
  src/mmrelay/matrix_utils.py
  tests/test_matrix_utils.py
Due: Core Utils

Address Gemini code review feedback
  src/mmrelay/matrix_utils.py
  tests/test_matrix_utils.py
Due: Core Utils

Fix async mocking warnings in test suite
  tests/test_main.py
  tests/test_meshtastic_utils.py
Due: none

Fix additional async mocking warnings in test suite
  tests/test_main.py
  tests/test_matrix_utils.py
Due: none

Complete warning reduction and code quality improvements
  src/mmrelay/matrix_utils.py
  tests/test_main.py
  tests/test_matrix_utils.py
  tests/test_meshtastic_utils.py
Due: Core Utils

Fix asyncio.sleep mocking warning in test_reconnect_attempts_connection
  tests/test_meshtastic_utils.py
Due: none

Systematically eliminate all 6 CI warnings with targeted fixes
  tests/test_main.py
  tests/test_matrix_utils_edge_cases.py
  tests/test_meshtastic_utils.py
  tests/test_plugin_loader.py
Due: none

Add more comprehensive mocking to eliminate remaining CI warnings
  tests/test_matrix_utils_edge_cases.py
  tests/test_plugin_loader.py
Due: none

Fix parameter order in test_join_matrix_room_with_invalid_alias
  tests/test_matrix_utils_edge_cases.py
Due: none

Fix test parameter order and add Rich mocking to plugin loader edge case
  tests/test_matrix_utils_edge_cases.py
  tests/test_plugin_loader_edge_cases.py
Due: none

Run trunk upgrade and check --fix --all
  tests/test_main.py
  tests/test_meshtastic_utils.py
  tests/test_plugin_loader.py
  tests/test_plugin_loader_edge_cases.py
Due: none

Apply more aggressive fixes for remaining CI warnings
  tests/test_main.py
  tests/test_matrix_utils_edge_cases.py
  tests/test_meshtastic_utils.py
  tests/test_plugin_loader.py
Due: none

Disable Windows package installer workflow on pull requests
  .github/workflows/package-windows.yml
Due: none

Fix test failures and duplicate mocking issues
  tests/test_meshtastic_utils.py
  tests/test_plugin_loader.py
Due: none

Fix plugin loader test with comprehensive git mocking
  tests/test_plugin_loader.py
Due: none
